*{
    font-family: 'Open Sans', sans-serif;


}



footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top:20px;
    padding-bottom: 20px;
    background-color: #ffffff;
    color: #8f2610;
    text-align: center;
}

footer a{
    color: #8f8f8f;
}

#points{
    font-size: 12px;
    margin-top:3px;
}

header{
    position: fixed;
    left: 0;
    top: 0;
    margin-top: 36px;
    width: 100%;
    background-color: #ffffff;
    color: #8f2610;
    text-align: center;
}

.mypoints{
    color: limegreen;
    font-weight: bold;
    float:right;
    font-size: 20px;
    margin-right:-110px;
    margin-top: -16px;
    padding-bottom: 10px;

}

.header h4{
    color:grey;
    font-size: 13px;
    margin-top: -10px;
    padding-bottom: 7px;
    margin-left:-130px;
}

.HomepageComponents .scoreslist{
    margin-top:20px;
    display: flex;
    justify-content: flex-start;
    list-style: none;

}

.HomepageComponents .taskslist{
    display: flex;
    justify-content: flex-start;
    list-style: none;

}

.title{
    align-content: center;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 13px;
}



.HomepageComponents .taskslist .card{
    background-color: #faffc7;
    max-width:150px;
    height: 180px;
    margin-right:10px;

}


.HomepageComponents .taskslist .card-text
{
    background-color: #faffc7;
    border:0;
    margin-top:-20px;
    width:110px;
    margin-left: -17px;
    font-size: 14px;
    height: 160px;

}

.HomepageComponents .taskslist  button
{
    font-weight: bold;
    padding-top: -90px;

}



.HomepageComponents .taskslist button{
    width: 150px;
    display: block;
    height: 180px;
}

.HomepageComponents .taskslist .card-text{
    width: 118px;
    padding-bottom:90px;
    font-size: 13px;
}
.HomepageComponents .taskslist h6{
    font-size: 12px;
    padding-top: 4px;

}

.scoreslist .card{
    border:0;

}
#scoresImages{
    border-radius: 50%;
    font-size: 16px;
    height: 75px;
    background-color: #bababa;
    padding-top: 24px;

}

#userpoints h6{
    color:grey;
    font-family: 'Lato', sans-serif;
    margin-top: -4px;
    font-size: 12px;
}

.statisticComponent{
    margin-top:13px;
}


.statisticComponent .scoreslist .card-body{
    border-radius: 50%;
    font-size: 10px;
    background-color: #bababa;
    padding-top: 18px;
    height: 130px;
    width: 130px;
    display: flex;
    justify-content: space-evenly;
    list-style: none;

}

.statisticComponent .scoreslist .card-title{
    font-size: 16px;
    margin-left:0px;
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
}


.statisticComponent .scoreslist .card-text{
    font-size: 16px;
    margin-left:10px;
    text-align: center;
    margin-top:-10px;
}