*{
    font-family: 'Open Sans', sans-serif;


}



footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top:20px;
    padding-bottom: 20px;
    background-color: #ffffff;
    color: #8f2610;
    text-align: center;
    margin-top: 20px;
}

footer a{
    color: #8f8f8f;
}

#points{
    font-size: 12px;
    margin-top:3px;
}

header{
    position: fixed;
    left: 0;
    top: 0;
    margin-top: 36px;
    width: 100%;
    background-color: #ffffff;
    color: #8f2610;
    text-align: center;
}

.mypoints{
    color: limegreen;
    font-weight: bold;
    float:right;
    font-size: 20px;
    margin-right:-110px;
    margin-top: -16px;
    padding-bottom: 10px;

}

.header h4{
    color:grey;
    font-size: 13px;
    margin-top: -10px;
    padding-bottom: 7px;
    margin-left:-130px;
}

.HomepageComponents .scoreslist{
    margin-top:20px;
    display: flex;
    justify-content: flex-start;
    list-style: none;

}

.HomepageComponents .taskslist{
    display: flex;
    justify-content: flex-start;
    list-style: none;

}

.title{
    align-content: center;
    font-size: 16px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 13px;
}



.HomepageComponents .taskslist .card{
    background-color: #faffc7;
    max-width:150px;
    height: 180px;
    margin-right:10px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;

}


.HomepageComponents .taskslist .card-text
{
    background-color: #faffc7;
    border:0;
    margin-top:-20px;
    width:110px;
    margin-left: -17px;
    font-size: 14px;
    height: 160px;

}

.HomepageComponents .taskslist  button
{
    font-weight: bold;
    padding-top: -90px;

}



.HomepageComponents .taskslist button{
    width: 150px;
    display: block;
    height: 180px;
}

.HomepageComponents .taskslist .card-text{
    width: 118px;
    padding-bottom:90px;
    font-size: 13px;
}
.HomepageComponents .taskslist h6{
    font-size: 12px;
    padding-top: 4px;

}

.scoreslist .card, .taskslist .card{
    border:0;

}
.scoresImages{
    border-radius: 50%;
    font-size: 16px;
    height: 70px;
    background-color: #8f92ba;
    padding-top: 24px;
    width:70px;
    margin-left: -8px;
    -webkit-box-shadow: 0 10px 6px 1px #777;
    -moz-box-shadow: 0 10px 6px 1px #777;
    box-shadow: 0 10px 9px -9px #777;
}

#userpoints h6{
    color:grey;
    font-family: 'Lato', sans-serif;
    margin-top: -4px;
    font-size: 12px;
}

.statisticComponent{
    margin-top:13px;
}


.statisticComponent .scoreslist .card-body{
    border-radius: 50%;
    font-size: 10px;
    background-color: #c7c7c7;
    padding-top: 18px;
    margin-top: 10px;
    height: 90px;
    width: 90px;
    display: flex;
    justify-content: flex-start;
    list-style: none;
    float:left;


}

.statisticComponent .scoreslist .card-title{
    font-size: 16px;
    margin-left:0px;
    text-align: center;
    font-weight: bold;
}

.statisticComponent .taskslist .card-text{
    font-size: 16px;
    margin-left:0px;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;

}

.statisticComponent .scoreslist .card-text{
    font-size: 13px;
    text-align: center;
    margin-top: -13px;

}

.statisticComponent .taskslist .card{
    width:50px;
}
.statisticComponent .taskslist .card-body {
    border-radius: 50%;
    font-size: 10px;
    background-color: #8f92ba;
    padding-top: 18px;
    margin-top: 10px;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: flex-start;
    list-style: none;
    float:left;
}

.statisticComponent .scoreslist,.statisticComponent .taskslist{
    display: flex;
    justify-content: flex-start;
    list-style: none;
    margin-bottom: 30px;
    margin-top: 40px;
    padding-bottom: 30px;
}


.statisticComponent .taskslist .card-text,.statisticComponent .taskslist .card-points {
    font-size: 16px;
    text-align: center;
    position: absolute;
    top:12px;
}

.card-points{
    padding-top: 10px;
    position: relative;
    left:30px;
    margin-top:-30px;
    color:limegreen;
    font-weight: bold;
}


.managmentslist .card{

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
}

.managmentslist .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

footer a {
    list-style-type: none;
    text-decoration: none;

}
footer a:hover, footer a:visited, footer a:link, footer a:active
{
    text-decoration: none;
}

.managmentslist button{

    margin-bottom: 40px;
}

.achievmentslist .card-body{

    background-color: #3B55A0;
}

.achievmentslist .card{
    margin-bottom:50px;
    width: 300px;
    background-color: #3B55A0;

}

.achievmentslist .card-text{
    width:150px;
    color:wheat;
    margin-left: -5px;

}

.achievmentslist{
    margin-bottom: 50px;
}
/*

div[class*="gradient"]{
    background-color: #DEB8A0;
    box-shadow: 0 0 0 1px #a27b62;
}

.gradient-light-linear {
    background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
}

.gradient-dark-linear {
    background-image: linear-gradient(rgba(0,0,0,.25), rgba(0,0,0,0));
}*/

.HomepageComponents .scoreslist{
    width: 280px;
    height: 200px;
    border: 1px solid #c3c3c3;
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    margin-top: 20px;
    border: none;
    margin-left: 20px;
}
.HomepageComponents .taskslist{
    width: 380px;
    height: 200px;
    border: 1px solid #c3c3c3;
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    margin-top: 120px;
    border: none;
    padding-bottom: 220px;
}

.scoreslist .scoresImages{
}

 .HomepageComponents .title{
    margin-bottom: 220px;
     position:absolute;
}
.statisticComponent .title .headTitle{
     margin-bottom: 120px;
     position:absolute;
 }

.statisticComponent .scoreslist{
    width: 380px;
    height: 200px;
    border: 1px solid #c3c3c3;
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    margin-top: 20px;
    border: none;
    margin-left: 20px;
}


.statisticComponent  .taskslist{
    width: 380px;
    height: 200px;
    border: 1px solid #c3c3c3;
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    margin-top: 20px;
    border: none;
    margin-left: 20px;
}




.statisticComponent  .achievmentslist{
    width: 380px;
    height: 200px;
    border: 1px solid #c3c3c3;
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    margin-top: 20px;
    border: none;
}

